*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.navBar{
    height: auto;
    width: 100%;
    text-align: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 9999;
    background-color: rgb(49, 46, 46);
    border-bottom: 3px solid antiquewhite;
}
.navBar img{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 15px;
    margin-left: 0;
    animation-name: logo_roll;
    animation-duration: 5s;
}
@keyframes logo_roll{
    0% { margin-left: 0; transform: rotate(0);}
    50% {margin-left: 60%; transform: rotate(180deg);}
    100% {margin-left: 0; transform: rotate(0);}
}

#nav_show_btn{
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: inherit;
    border-style: none;
    cursor: pointer;
    color: antiquewhite;
}

.my_nav_bar{
    display: block;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    position: absolute;
    width: 100%;
    text-align: left;
}


.my_nav_bar a{
    display:none;
    padding: 10px;
    background-color: rgb(56, 81, 95);
    border: 1px solid rgb(45, 80, 99);
}
.my_nav_bar a:hover{
    cursor: pointer;
    background-color: rgb(119, 125, 126);
    border-bottom: 1px solid black;
}

/*                 Home                 */
.main_home{
    height: 100vh;
    width: 100%;
    background-color: #578ea3;
}
.main_home div{
    padding: 25%;
    font-size: 18px;
    text-align: center;
}
.main_home div img{
    width: 100px;
    height: 100px;
    border-radius: 55px;
}
.main_home div a{
    padding: 40%;
    font-size: 50px;
    text-decoration: none;
}

/*              About               */
.main_about{
    height: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(250, 244, 235);
}

.my_interests{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: auto;
}
.my_interests figure img{
    width: 130px;
    height: 100px;
    padding: 5px;
}
.my_interests figure figcaption{
    font-size: 10px;
    text-align: center;
    width: 80%;
}

.about_skills{
    text-align: center;
  
}
.about_skills li{
    padding: 5px;
}

/*              Projects               */

.main_projects{
    width: 100%;
    text-align: center;
    height: auto;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    background-image: linear-gradient(to bottom, grey, white);
    background-image: -moz-linear-gradient(to bottom, white);

}

.big_box{
    background-color: transparent;
    width: 280px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.flip_inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.0s;
    transform-style: preserve-3d;
    
}
.big_box:hover .flip_inner{
    transform: rotateY(180deg);
}
.flip_back{
    transform: rotateY(180deg);
    background-image: linear-gradient(rgb(190, 179, 164), rgb(40, 43, 42));
}
.flip_back p{
    padding: 25px;
}
.flip_front, .flip_back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    filter: drop-shadow(0 0 1.0rem black);
}
.flip_front img{
    width: 100%;
    height: 100%;
}

/*              Contact             */
.main_contact{
    background-color:#578ea3;
    width: 100%;
    height: 90vh;
    text-align: center;
}
.main_contact form{
    padding: 10px; 
    text-align: center;
}
#submit_id{
    width: 100px;
}
.main_contact form input{
    height: 30px;
    border: 5px solid rgb(56, 81, 95);
}
.main_contact form textarea{
    height: 50px;
    margin-bottom: 5px;
    border: 5px solid rgb(56, 81, 95);
}
fieldset{
    border:2px solid black;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}
.main_contact form div{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    padding: 25px;
}

/*          Footer        */
footer{
    width: 100%;
    text-align: center;
    background-color: rgb(56, 81, 95);
}
footer ul{
    list-style-type: none;
    height: auto;
}
footer ul li{
    display: inline;

}
.social{
    font-size: 25px;
    padding: 5px;
}
footer a{
    color: antiquewhite;
}

.section_name{
    padding-top: 50px;
}

@media (min-width: 500px) and (max-width: 1000px){

    .main_contact form{
        width: 80%;
        padding: 0 10% 0 10%;
    }
}

@media (min-width: 1001px) and (max-width:1200px){
    .main_contact form{
        width: 60%;
        padding: 0 20% 0 20%;
    }
    .main_contact form input{
        height: 50px;
    }

    .my_nav_bar{
        text-align:center;
    }

}

@media(min-width: 1001px) and (max-width: 1200px) and (max-height: 600px) {
    .main_about, .main_projects, .main_home, .main_contact{
        height: auto;
    }
}

@media(min-width: 1201px){
    .section_name{
        padding-top: 100px;
    }
    .main_about, .main_projects{
        height: auto;
    }
    .main_home, .main_contact{
        height: 100vh;
    }
    .main_contact form{
        width: 50%;
        padding: 0 25% 0 25%;
    }  
    .main_contact form input{
        height: 50px;
    }
    .navBar img{
        width: 50px;
        height: 50px;
        border-radius: 25px;     
        top:0;
    }
    .navBar{
        height: 40px;
    }
    .my_nav_bar{
        text-align:center;
    }
    .my_interests figure img{
        width: 250px;
        height: 200px;
    }
}


@media(max-height: 350px) {
    .main_about, .main_projects, .main_home, .main_contact{
        height: auto;
    }
}
