@media only screen and (min-width: 1000px){

    .my_nav_bar{
        text-align: center;
    }
    .nav_show_btn{
        font-size: 55px;
    }
    .main_home{
        height: 90vh;
        width: 100%;
    }
    .main_home div{
        padding: 10vh 25%;
    }
    .main_home div p{
        font-size: 50px;
    }
    .my_interests{
        height: 400px;
    }
    .my_interests figure figcaption{
        font-size: 25px;
    }
    .about_skills{
        font-size: 25px;
    }

    .main_contact{
        height: 80vh;
        display: grid;
        justify-content: center;
    }
    .section_name{
        padding: 50px;
    }
    .main_contact form{
        padding: 0 0;
    }

    footer{
        height: 100px;
    }

}


@media (min-width: 500px) and (max-width: 1000px){

    .main_contact form{
        width: 80%;
        padding: 0 10% 0 10%;
    }
}

@media (min-width: 1001px) and (max-width:1200px){


}

@media(min-width: 1001px) and (max-width: 1200px) and (max-height: 600px) {

}

@media(min-width: 1201px){

}


@media(max-height: 400px) {
    .main_about, .main_projects, .main_home, .main_contact{
        height: auto;
    }
}