.Home{
    max-width: 850px;
}
.BorderTitle{
    color: black;
    background-color: aliceblue;
    padding: 0 5px;
    margin: 30px 0 10px;
}
.listDesc{
    min-width: 300px;
    max-width: 850px;

}
.ulStyle{
    width: 300px;
    padding-left: 20px;

}
.ulStyle li::marker{
    content: '- ';
    color: rgb(195, 161, 98);
}

/*** Project Template ***/
.projectTemplate{
    height: 300px;
    width: 270px;
    background-color: rgb(138, 140, 142);
    margin: 50px auto;
    cursor: pointer;
    text-align: center;
    display: grid;
    align-items: center;
}
.projectTemplate:hover{
    background-color: rgb(88, 89, 90);
    font-size: 20px;
}

/*** Intro ***/
.Intro{
    text-align: center;
    width: 300px;
    margin: 50px auto;
}