*{
    margin: 0;
    padding: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgb(32, 31, 31);
    color: rgb(236, 233, 233);
    font-family: "Lucida Console", "Courier New", monospace;
}
.noStyle{
    list-style: none;
}
.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*** MENU ***/
.Menu{
    height: 99px;
    width: 100%;
    border-width: 0px 1px 1px 0px;
    background-color: rgb(14, 13, 13);
    position: fixed;
    top: 0;
    overflow: hidden;
}
.Menu ul{
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}
.Menu ul li{
    list-style: none;
    height: 50px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(195, 161, 98);
    cursor: pointer;
}
.Menu ul li:hover{
    background: rgb(138, 114, 69);
}
/*** Menu Desktop ***/

/*** Content ***/
.Content{
    width: 100%;
    height: auto;
    margin-top: 100px;
    overflow: scroll;
    display: grid;
    justify-content: center;
}



/*** Footer ***/
.Footer{
    height: 50px;
    background-color: rgb(14, 13, 13);
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}